#Canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#background{
  background-image: url('http://tuhinternational.com/wp-content/uploads/street-fighter-2-1024x576.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#health-bar-player { /* Player health bar outside*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:absolute; top:20px; left:30px; 
}

#timer{
    position:absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);     
}


#bar-player { /* Player health bar inside */
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
}

#health-bar-enemy { /* enemy health bar outside*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:absolute; top:20px; left: 800px; 
}

#bar-enemy { /* Player health bar inside */
    background: rgb(0, 79, 140);
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
}

/*
.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;  
    transition: width .5s linear;
}
*/